body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}

#root::before{
  content:"";
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-image: url('./images/cartoon.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
}

#root {
  display: flex;
  justify-content: center;

}

.App {
    background-color: white;
    width:600px;
    min-height:750px;

}

.logo {
  width: 100px;
  height: 60px;
}

.App-header {
  box-shadow:  0 6px 6px hsl(5deg 0% 0% / 0.3);
}

.images {
  padding: 50px;
}

.youya {
  width: 100px;
  height: 80px;
  margin: 10px;
  border-radius: 10px;
}

.youyaImage {
  width: 150px;
  height: 170px;
  border-radius: 15px;
  margin: 20px;
}
