/* body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: url('./images/cartoon.jpeg');
  background-repeat: no-repeat;
  background-position: top;
  background-color: bisque;
  background-size:auto;
  opacity: .2;
} */

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}

#root::before{
  content:"";
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-image: url('./images/cartoon.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
}

